.titleSize {
  width: 300px;
  word-break: break-all;
  height: 40px;
  color: #F5F5DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
   
.element {
    background-color: transparent;
    outline: none;
    border: none;
    font: 800 20px 'Roboto';
    box-shadow: 0px 0px 0px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    margin: 20px;
    text-align: center;
  }
  
.deleteBtn {
    color: #F5F5DC;
    background: #FF0000;
    border: none;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
  }
  