.todoWrapper {
    padding: 20px;
    width: 320px;
}

.todoMain {
    padding: 20px;
    margin-top: 20px;
    background-color: #b6b6ff;
    border-radius: 6px;
}

@media (max-width: 320px) {
    .todoWrapper {
        width: 275px;
    }
}
