.appWrapper {
background-color: #856aff;
min-width: 100vw;
min-height: 100vh; 
}

.appHeader {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 180px;
border-bottom: 5px solid #F5F5DC;
color: #F5F5DC;
}

.todoWrapper {
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
margin: 0 auto;
}

.todo {
    background-color: #F5F5DC;
}


