.App {
display: flex;
flex-direction: row;
}

.todoList {
  width: 300px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.todoList-task {

}

.filter-active {
background: yellow;
}

.error {
	border-color: red;
}

.todoList-task.done {
 opacity: 0.5;
}