.appWrapper {
overflow: hidden;
background: url('./image/bg/background.jpg') center center/cover no-repeat;
min-width: 100vw;
min-height: 100vh;
}

.todoWrapper {
display: flex;
flex-direction: row;
justify-content: flex-start;
flex-wrap: wrap;
max-width: 700px;
margin: 0 auto;
}


