.appHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    border-bottom: 5px solid #F5F5DC;
    color: #F5F5DC;
}

.appUserInfo {
    position: absolute;
    top: 10px;
    text-align: end;
    right: 10px;
    font-size: 12px;
}

.appError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    color: #F5F5DC;
    font-weight: 600;
    font-size: 20px;
}

.appBtnComeBack, .appUserInfoBtn  {
    cursor: pointer;
    margin-top: 10px;
    border-radius: 6px;
    outline: none;
    border: 2px solid #F5F5DC;
    background-color: #5050e6;
    color: #F5F5DC;
    font-family: 'Roboto', sans-serif;
}

.appBtnComeBack:hover, .appUserInfoBtn:hover {
    background-color:#856aff;
    color: #151414;
}

.appTodoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.appLoader {
    display: block;
    margin: 0 auto;
}


