.filterActive {
    border-bottom: 3px solid #856aff;
    cursor: pointer;
}

.footerWrapper {
    display: flex;
    justify-content: space-evenly;
}

.footerBtns {
    cursor: pointer;
}

.footerBtns:hover {
border-bottom: 3px solid #856aff;
}