.task {
    word-break: break-all;
    max-width: 295px;
    padding-top: 5px;
    cursor: auto;
}

.task.done {
    opacity: 0.5;
}
   
.element {
    background-color: transparent;
    outline: none;
    border: none;
    font: 500 20px 'Roboto';
    margin: 20px;
    text-align: center;
    resize: none;
    cursor: pointer;
}
  
.deleteBtn {
    color: #fffafa;
    background: #c72800;
    border: none;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
}
  